
@import url("https://tenor.com/view/technology-gif-21505211");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
   
   
}

body{
    min-height: 100%;
    font-family: "Poppins", sans-serif;
}
   .container{
   background: url("6.jpg");
   /* overflow:hidden; */
   background-repeat: no-repeat;
   background-size: cover;
  
 
   }
   

      .cards{
        width: 100%;
        height: 100%;
        display: flex;
       flex-direction: column;
      
       max-width: 1300px;
       justify-content: center;
       
       align-items: center;
      }
      h1 {
        position: relative;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: calc(20px + 5vw);
        font-weight: 700;
        letter-spacing: 15px;
        color: #fff;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-shadow: 0 0 0.15em #057e1d;
        user-select: none;
        white-space: nowrap;
        filter: blur(0.007em);
        animation: shake 2.5s linear forwards;
    }
    
    h1 span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
                clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    }
    
    h1::before,
    h1::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
    }
    
    h1::before {
        animation: crack1 2.5s linear forwards;
        -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
                clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    }
    
    h1::after {
        animation: crack2 2.5s linear forwards;
        -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
                clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
    
    @keyframes shake {
        5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
            filter: blur(0.018em);
            transform: translateY(0.018em) rotate(0deg);
        }
    
        10%, 30%, 40%, 50%, 70%, 80%, 90% {
            filter: blur(0.01em);
            transform: translateY(-0.018em) rotate(0deg);
        }
    
        20%, 60% {
            filter: blur(0.03em);
            transform: translate(-0.018em, 0.018em) rotate(0deg);
        }
    
        45%, 85% {
            filter: blur(0.03em);
            transform: translate(0.018em, -0.018em) rotate(0deg);
        }
    
        100% {
            filter: blur(0.007em);
            transform: translate(0) rotate(-0.5deg);
        }
    }
    
    @keyframes crack1 {
        0%, 95% {
            transform: translate(-50%, -50%);
        }
    
        100% {
            transform: translate(-51%, -48%);
        }
    }
    
    @keyframes crack2 {
        0%, 95% {
            transform: translate(-50%, -50%);
        }
    
        100% {
            transform: translate(-49%, -53%);
        }
    }
      .ca{
        width:90%;
        height:15rem;
       
      
        /* background-repeat: no-repeat; */
        position:relative;
        box-shadow:0px 0px 10px #1f1f1f;
      
    margin:1rem;
    padding:1rem;
   
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
     
      .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .card::after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        ;
       z-index: 5;
        /* transform: scaleX(1); */
      }
      
      .card::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
       
        right:0;
        bottom:0;
        background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(18px);
        border:1px solid rgba(255,255,255,0.18);
        box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
        border-radius: 1rem;
        transform:scaleX(0);
        
        transform-origin:left;
        transition: all 3s;
        z-index:1;
        opacity:1;
       
      }
     
       .disc{
        
       position: absolute;
        color:white;
        padding:2em;
        bottom:20%;
        z-index:5;
        gap:1em;
        transition:all 3s;
       }
     .btn::before{
        opacity: 0;
     
     }
      .card:hover::before{
        transform:scaleX(1);
        opacity: 1;
        position:absolute;
       
      }
      @media screen and (max-width:600px)
      {
        .disc{
        
            position: absolute;
             color:white;
             padding:1em;
             bottom:5%;
             z-index:5;
             gap:1em;
             transition:all 3s;
             font-size:small;
            }
      }
     .container{
        overflow-x: hidden;
        overflow-y: hidden;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-image: url(),}
        
     .project-content{
        position:absolute;
        display:flex;
        flex-direction:column;
        color:white;
        padding:2em;
        bottom:20%;
        z-index:5;
        gap:1em;
        transition:all 5s;
      }
      .project-content{
        position:absolute;
        display:flex;
        flex-direction:column;
        color:white;
        padding:2em;
        bottom:20%;
        z-index:5;
        gap:1em;
        transition:all 0.4s;
      }
      .title{
        font-size: 2rem;
        margin:6vh;
      
        border-radius: 20px;
        padding:1vh 5vw;
    }
    
    .workshop-name
{
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    color: white;
    
    background-image: url();
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: animate 1s ease-in-out alternate infinite;
}

@keyframes animate
{
    from
    {
        background-position: center 40%;
    }
    to
    {
        background-position: center 60%;
    }
}

 h4{
    position:relative;
    font-size:4vw;
letter-spacing:1.5vh;
color: #0e7265;
text-transform:uppercase;
width:100%;
text-align:center;

-webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
line-height:0.70em;
outline:none;
animation:animate 3s linear  infinite;

 }
 @keyframes animate{
    0%,18%,20%,50.1%,60%,60.1%,80%,90%,92%{
        color: #088a61;
        box-shadow:none;
    }
   18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%, 100%{
        color:#fff;
        text-shadow:0 0 10px  #088a61,
        0 0 20px #088a61,
        0 0 40px #088a61,
        0 0 80px #088a61,
        0 0 160px #088a61,



    }
 }